<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Image Upload App</h1>
      <div class="button-group">
        <a href="/upload" class="btn-link"><button>Upload Image</button></a>
        <a href="/gallery" class="btn-link"><button>View Gallery</button></a>
      </div>
    </div>
  </body>
</html>
